.parent-container {
  width: 98vw;  
  height: 98vh;
  outline: dotted;
  overflow: hidden;
}

.header-area {
  height: 10%;

  outline: solid;
}

.box-area {
  height: 90%;

  background-color: gray;
  overflow-y: auto;
}

.box-container {
  padding: 15px;

  display: grid;
  justify-items: center;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr) );
  grid-template-rows: repeat(auto-fill, minmax(200px, min-content) );
}

.box {
  height: 200px;
  width: 150px;
  border: solid;
  border-radius: 5px;
  background-color: white;
}

.box-image {
  height: 100%;
  width: 100%;
  border-radius: 2px;
}

.box-image:hover {
  filter: brightness(75%);
}